body {
  margin: 0;
  padding: 0;
  background: #F8FAFA;
  height: 100%;
}

nav {
  background: #00404A;
  width: 100%;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

nav ul li a {
  color: #F8FAFA;
}

/*Form*/

form{
  height: 80%;
}
#fieldtypes {
  padding-left: 25px;
  border: solid 1px #A3C3C8;
  border-radius: 5px 0px 0px 5px;
  margin-left: 3%;
  width: 23%;
  height: 570px;
  float: left;
  background: #EBF2F4;
  overflow: scroll;
}

#detailsandgroups {
  padding-left: 25px;
  border: solid 1px #A3C3C8;
  border-radius: 0px 5px 5px 0px;
  float: left;
  width: 65%;
  height: 570px;
}

#details {
  width:30%;
}

#groups {
  float: right;
  clear: right;
  margin-top: -550px;
  padding-right: 25px;
  background: #F8FAFA;
}

.fieldcard {
  border: solid 1px #A3C3C8;
  margin-right: 25px;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  line-height: .3;
}

.fieldcard h5 {
  padding-top: 10px;
}

#buttons {
  clear: both;
}
