body {
  margin: 0;
  padding: 0;
  background: #F8FAFA;
}

nav {
  background: #00404A;
  width: 100%;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

nav ul li a {
  color: #F8FAFA;
}

/*Form*/
#fieldtypes {
  padding-left: 25px;
  border: solid 1px #A3C3C8;
  margin-left: 3%;
  width: 25%;
  float: left;
  background: #EBF2F4;
}

#detailsandgroups {
  padding-left: 25px;
  border: solid 1px #A3C3C8;
  float: left;
  width: 59%;
}

#details {
  width:30%;
}

#groups {
  float: right;
  clear: right;
  margin-top: -550px;
  padding-right: 25px;
  background: #F8FAFA;
}
